.items {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.item {
    width: 100%;
    max-width: 250px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    margin: 25px;
    background-color: $item-bg;
    &__image {
        position: relative;
        overflow: hidden;
        height: 350px;
        & img {
            width: 100%;
            height: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__rating {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $yellow;
        background-color: rgba(0, 0, 0, 0.65);
        border-radius: 50%;
        color: $bright-font;
        font-weight: bold;
    }
    &__text-area {
        padding: 1em;
        color: $dark-font;
    }
    &__title {
        font-size: 1.25em;
        margin: 0;
        font-weight: bold;
    }
    &__year {
        font-style: italic;
    }
    &__desc {
        margin: 0;
        margin-top: 1em;
    }
    &__award {
        font-size: 1em;
        font-style: italic;
    }

    &:hover {
        background-color: lighten($item-bg, 10%);
    }
}