.items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  &__placeholder {
    text-align: center;
    line-height: 5em;
  }
  &__summary {
    text-align: center;
  }
}

.item {
  margin: 10px;
  padding: 0;
  background-color: $item-bg;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  &:hover .item__overlay {
    top: 0;
  }
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 375px;
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }
  &__image {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__rating,
  &__award {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $yellow;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    color: $bright-font;
    font-weight: bold;
  }
  &__award {
    left: 10px;
    border: none;
    color: $yellow;
  }
  &__text-wrapper {
    width: 100%;
    max-width: 250px;
    // min-height: 80px;
    padding: 1em;
    color: $bright-font;
  }
  &__title {
    font-size: 1.1em;
    margin: 0;
    font-weight: bold;
  }
  &__title-info {
    font-size: 0.9em;
    margin: 0;
    margin-top: 5px;
  }
  &__overlay {
    position: absolute;
    top: -100%;
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    text-align: left;
  }
  &__type {
    color: $yellow;
    font-size: 0.8em;
    margin: 0;
    margin-top: 10px;
  }
  &__desc {
    margin: 0;
    margin-top: 5px;
  }
}
